In [15]:
# Dependencies and Setup.
import pandas as pd

# File to Load.
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame.
purchasedata = pd.read_csv(file_to_load, encoding="ISO-8859-1")

#Kindly note that some terms for the needed variables have been abbreviated and are followed by the gender's first letter or context (i.e. age) so that we may distinguish them (i.e. Purchase Count = pc, Total Purchase Value = tpv... This applies for the entirety of the notebook.

## Player Count

* Display the total number of players

In [16]:
players = len(purchasedata["SN"].unique())
print("The total number of unique players amounts to " + str(players) + " users.")
playertable = pd.DataFrame({"Players": [players]})
playertable

The total number of unique players amounts to 576 users.

   Players
0      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
#Preliminary calculations.
uniqueitems = len(purchasedata["Item ID"].unique())
average = purchasedata["Price"].mean()
purchases = purchasedata["Price"].count()
revenue = purchasedata["Price"].sum()
#Creating the DataFrame.
purchasinganalysistotal = pd.DataFrame({"Number of Unique Items": [uniqueitems], "Average Purchase Price": average, "Total Number of Purchases": purchases, "Total Revenue": revenue})
#Formatting.
purchasinganalysistotal["Average Purchase Price"] = purchasinganalysistotal["Average Purchase Price"].map("${:.2f}".format)
purchasinganalysistotal["Total Revenue"] = purchasinganalysistotal["Total Revenue"].map("${:,.2f}".format)
#Displating the DataFrame.
purchasinganalysistotal

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

In [18]:
## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [19]:
#Males.
males = purchasedata.loc[purchasedata["Gender"]=="Male"]
uniqueM = len(males["SN"].unique())
#Females.
females = purchasedata.loc[purchasedata["Gender"]=="Female"]
uniqueF = len(females["SN"].unique())
#Other / Non-disclosed.
other = purchasedata.loc[purchasedata["Gender"]=="Other / Non-Disclosed"]
uniqueO = len(other["SN"].unique())
#Calculating respective percentages & formatting.
percentM = float((uniqueM / players * 100))
percentF = float((uniqueF / players * 100))
percentO = float((uniqueO / players * 100))
percentT = float(sum([percentM,percentF,percentO]))
#Creating the DataFrame.
genderdemographics = pd.DataFrame([{"Gender": "Male", "Count": uniqueM, "Percentage": percentM},{"Gender": "Female", "Count": uniqueF, "Percentage": percentF},{"Gender": "Other / Non-Disclosed", "Count": uniqueO, "Percentage": percentO},{"Gender": "Sum", "Count": players, "Percentage": percentT}])
#Formatting.
genderdemographics["Percentage"] = genderdemographics["Percentage"].map('{:,.2f} %'.format)
#DataFrame.
genderdemographics

                  Gender  Count Percentage
0                   Male    484    84.03 %
1                 Female     81    14.06 %
2  Other / Non-Disclosed     11     1.91 %
3                    Sum    576   100.00 %

In [20]:
## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
#Males.
pcM = len(purchasedata.loc[purchasedata["Gender"]=="Male"])
appM = float(purchasedata.loc[purchasedata["Gender"]=="Male", ["Price"]].mean())
tpvM = float(purchasedata.loc[purchasedata["Gender"]=="Male", ["Price"]].sum())
aptM = float(tpvM/uniqueM)
#Females.
pcF = len(purchasedata.loc[purchasedata["Gender"]=="Female"])
appF = float(purchasedata.loc[purchasedata["Gender"]=="Female", ["Price"]].mean())
tpvF = float(purchasedata.loc[purchasedata["Gender"]=="Female", ["Price"]].sum())
aptF = float(tpvF/uniqueF)
#Other / Non - Disclosed.
pcO = len(purchasedata.loc[purchasedata["Gender"]=="Other / Non-Disclosed"])
appO = float(purchasedata.loc[purchasedata["Gender"]=="Other / Non-Disclosed", ["Price"]].mean())
tpvO = float(purchasedata.loc[purchasedata["Gender"]=="Other / Non-Disclosed", ["Price"]].sum())
aptO = float(tpvO/uniqueO)
#Creating the DataFrame.
purchasinganalysisgender = pd.DataFrame([{"Gender:": "Male", "Purchase Count": pcM, "Average Purchase Price": appM, "Total Purchase Value": tpvM, "Average Purchase Total": aptM},
{"Gender:": "Female", "Purchase Count": pcF, "Average Purchase Price": appF, "Total Purchase Value": tpvF, "Average Purchase Total": aptF},
{"Gender:": "Other / Non - Disclosed", "Purchase Count": pcO, "Average Purchase Price": appO, "Total Purchase Value": tpvO, "Average Purchase Total": aptO}])
#Formatting.
purchasinganalysisgender["Average Purchase Price"] = purchasinganalysisgender["Average Purchase Price"].map("${:,.2f}".format)
purchasinganalysisgender["Total Purchase Value"] = purchasinganalysisgender["Total Purchase Value"].map("${:,.2f}".format)
purchasinganalysisgender["Average Purchase Total"] = purchasinganalysisgender["Average Purchase Total"].map("${:,.2f}".format)
#DataFrame.
purchasinganalysisgender

,Gender:,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total
0,Male,652,$3.02,"$1,967.64",$4.07
1,Female,113,$3.20,$361.94,$4.47
2,Other / Non - Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [22]:
#Setting bins and the intervals.
bins = [0,9,14,19,24,29,34,39,46]
intervals= ["<10", "Between 10 & 14", "Between 15 & 19", "Between 20 & 24", "Between 25 & 29", "Between 30 & 34", "Between 35 & 39", "40 & Above"]
#Adding a column for grouping purposes.
purchasedata["Age Range"] = pd.cut(purchasedata["Age"], bins, labels=intervals)
#Grouping.
#.nunique() was found online after quite some time attempting to find a solution for this part of the problem. Here is the link to the stack overflow page: https://stackoverflow.com/questions/38309729/count-unique-values-with-pandas-per-groups.
grouped = purchasedata.groupby("Age Range")
noduplicates = grouped["SN"].nunique()
pcA = grouped["SN"].count()
appA = grouped["Price"].mean()
tpvA = grouped["Price"].sum()
aptA = tpvA/noduplicates
intervalpercentages = (noduplicates/players) * 100
#Creating the DataFrames. Note that this DataFrame is for both the Age Demographics and the Purchasis Analysis (Age).
agedemographics = pd.DataFrame({"Player Frequency (Absolute)": noduplicates,"Player Frequency (Absolute Percentage)": intervalpercentages, "Purchase Count": pcA, "Average Purchase Price": appA, "Total Purchase Value": tpvA, "Average Purchase Total per Person": aptA})
#Formatting.
agedemographics["Player Frequency (Absolute Percentage)"] = agedemographics["Player Frequency (Absolute Percentage)"].map("{:,.2f} %".format)
agedemographics["Average Purchase Price"] = agedemographics["Average Purchase Price"].map("${:,.2f}".format)
agedemographics["Total Purchase Value"] = agedemographics["Total Purchase Value"].map("${:,.2f}".format)
agedemographics["Average Purchase Total per Person"] = agedemographics["Average Purchase Total per Person"].map("${:,.2f}".format)
#DataFrame. Please note that the above created DataFrame includes the data needed for this part and the next part of the problem. Columns have been dropped from the DataFrame in order to display it according to the given instructions.
agedemographics1 = agedemographics.copy()
agedemographics1 = agedemographics1.drop(["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Purchase Total per Person"], axis = 1)
agedemographics1

,Player Frequency (Absolute),Player Frequency (Absolute Percentage)
Age Range,,
<10,17,2.95 %
Between 10 & 14,22,3.82 %
Between 15 & 19,107,18.58 %
Between 20 & 24,258,44.79 %
Between 25 & 29,77,13.37 %
Between 30 & 34,52,9.03 %
Between 35 & 39,31,5.38 %
40 & Above,12,2.08 %

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
#The DataFrame is being displayed here once again as I combined both parts. See above notes for details.
agedemographics2 = agedemographics.copy()
agedemographics2 = agedemographics2.drop(["Player Frequency (Absolute)","Player Frequency (Absolute Percentage)"], axis =1)
agedemographics2

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
Between 10 & 14,28,$2.96,$82.78,$3.76
Between 15 & 19,136,$3.04,$412.89,$3.86
Between 20 & 24,365,$3.05,"$1,114.06",$4.32
Between 25 & 29,101,$2.90,$293.00,$3.81
Between 30 & 34,73,$2.93,$214.00,$4.12
Between 35 & 39,41,$3.60,$147.67,$4.76
40 & Above,13,$2.94,$38.24,$3.19

In [24]:
#Combining both of the above by posting the original created DataFrame for age demographics.
agedemographics

,Player Frequency (Absolute),Player Frequency (Absolute Percentage),Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
Age Range,,,,,,
<10,17,2.95 %,23,$3.35,$77.13,$4.54
Between 10 & 14,22,3.82 %,28,$2.96,$82.78,$3.76
Between 15 & 19,107,18.58 %,136,$3.04,$412.89,$3.86
Between 20 & 24,258,44.79 %,365,$3.05,"$1,114.06",$4.32
Between 25 & 29,77,13.37 %,101,$2.90,$293.00,$3.81
Between 30 & 34,52,9.03 %,73,$2.93,$214.00,$4.12
Between 35 & 39,31,5.38 %,41,$3.60,$147.67,$4.76
40 & Above,12,2.08 %,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
top = purchasedata.groupby("SN")
#Preliminary calculations.
pcS = top["Purchase ID"].count()
appS = top["Price"].mean()
tpvS = top["Price"].sum()
#Creating the DataFrame.
spenders = pd.DataFrame({"Purchase Count": pcS, "Average Purchase Price": appS, "Total Purchase Value": tpvS})
#Sorting
spenders = spenders.sort_values(["Total Purchase Value"], ascending=False)
#Formatting.
spenders["Average Purchase Price"] = spenders["Average Purchase Price"].map("${:,.2f}".format)
spenders["Total Purchase Value"] = spenders["Total Purchase Value"].map("${:,.2f}".format)
#Displaying the first 5 values of the DataFrame
spenders.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [26]:
popular = purchasedata.groupby(["Item ID"])
#Preliminary calculations.
name = popular["Item Name"].unique()
pcP = popular["Price"].count()
price = popular["Price"].sum() / pcP
tpvP = price * pcP
#Creating the DataFrame.
items = pd.DataFrame({"Item Name": name,"Purchase Count": pcP,"Item Price": price, "Total Purchase Value": tpvP})
items = items.sort_values(["Purchase Count"], ascending=False)
#Formatting.
items["Item Price"] = items["Item Price"].map("${:,.2f}".format)
items["Total Purchase Value"] = items["Total Purchase Value"].map("${:,.2f}".format)
#Displaying the first 5 values of the DataFrame
items.head(5)

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,[Final Critic],13,$4.61,$59.99
178,"[Oathbreaker, Last Hope of the Breaking Storm]",12,$4.23,$50.76
145,[Fiery Glass Crusader],9,$4.58,$41.22
132,[Persuasion],9,$3.22,$28.99
108,"[Extraction, Quickblade Of Trembling Hands]",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [27]:
profitable = purchasedata.groupby(["Item ID"])
#Preliminary calculations.
namePF = popular["Item Name"].unique()
pcPF = popular["Price"].count()
pricePF = popular["Price"].sum() / pcPF
tpvPF = price * pcPF
#Creating the DataFrame.
profitable = pd.DataFrame({"Item Name": namePF,"Purchase Count": pcPF,"Item Price": pricePF, "Total Purchase Value": tpvPF})
profitable = profitable.sort_values(["Total Purchase Value"], ascending=False)
#Formatting.
profitable["Item Price"] = profitable["Item Price"].map("${:,.2f}".format)
profitable["Total Purchase Value"] = profitable["Total Purchase Value"].map("${:,.2f}".format)
#Displaying the first 5 values of the DataFrame
profitable.head(5)

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,[Final Critic],13,$4.61,$59.99
178,"[Oathbreaker, Last Hope of the Breaking Storm]",12,$4.23,$50.76
82,[Nirvana],9,$4.90,$44.10
145,[Fiery Glass Crusader],9,$4.58,$41.22
103,[Singed Scalpel],8,$4.35,$34.80

In [28]:
print("---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------")
print("Observable Trends")
print("---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------")
print("Observation 1: we can clearly see that players are overwhelmingly male. However, despite their significantly creater numbers they are not the largest spenders when looking at gender data. In fact, females spend approximately 1.06 times more than males while people who did not disclose their gender spent approximately 1.11 times more than males.")
print("---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------")
print("Observation 2: Almost 45 percent of all players are between 20 and 24 years old while somewhere between 18 and 19 percent are between 15 and 19 years old. This leads us to believe that the game is most popular among people in their late teenage years and early adulthood as together they make up almost 2/3rds of the entire player base with their combined percentage standing at almost 64 percent.")
print("---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------")
print("People between the ages of 35 and 39 are the heaviest spenders as they spend on average $3.60 per purchase. Perhaps this is an indication of more disposable income which comes as a result of job security and seniority when one is older. Coming in second are players below the age of 10 who spend on average $3.35 per purchase. Perhaps this could be explained by the fact that people falling within this age range generally do not have much value for money and this game could be a very big priority at the moment in their lives hence making them more inclined to spend.")
print("---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------")
print("Finally, based on spending patters, we can see that the items Final Critic and Oathbreaker, Last Hope of the Breaking Storm, are the most popular and profitable items. This is evident by the purchase counts and total purchases values which stand at 13 & 12 and $59.99 & $50.76 respectively.")
print("---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------")

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Observable Trends
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Observation 1: we can clearly see that players are overwhelmingly male. However, despite their significantly creater numbers they are not the largest spenders when looking at gender data. In fact, females spend approximately 1.06 times more than males while people who did not disclose their gender spent approximately 1.11 times more than males.
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Observation 2: Almost 45 percent of all players are between 20 and 24 years old while somewhere between 18 and 19 percent are between 15 and 19 years old. This leads us to believe that the game is most popular among people in their late teenage years and early adulthood as together they make up almost 2/3rds of the entire player base with their combined percentage standing at almost 64 percent.
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
People between the ages of 35 and 39 are the heaviest spenders as they spend on average $3.60 per purchase. Perhaps this is an indication of more disposable income which comes as a result of job security and seniority when one is older. Coming in second are players below the age of 10 who spend on average $3.35 per purchase. Perhaps this could be explained by the fact that people falling within this age range generally do not have much value for money and this game could be a very big priority at the moment in their lives hence making them more inclined to spend.
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Finally, based on spending patters, we can see that the items Final Critic and Oathbreaker, Last Hope of the Breaking Storm, are the most popular and profitable items. This is evident by the purchase counts and total purchases values which stand at 13 & 12 and $59.99 & $50.76 respectively.
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------